<!DOCTYPE html>
<html>
<head>
    <title>XRPackage Testing page</title>
    <!-- Hack to disable favicon (unneccessary GET request & asset) -->
    <link rel="icon" href="data:;base64,=">
</head>
<body>
    <div class="root">
        <script type="module">
            import { XRPackage, XRPackageEngine } from '<%= url %>';
            window.XRPackage = XRPackage;
            window.XRPackageEngine = XRPackageEngine;
        </script>
    </div>
</body>
</html>
