* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans';
}
header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  align-items: center;
  user-select: none;
  z-index: 1;
}
header .icon {
  height: 25px;
  margin: 0 10px;
}
header .nav {
  display: flex;
  height: 100%;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
header .nav:hover, header .nav.open {
  border-bottom-color: #7986cb;
}
header .nav i {
  display: inline-block;
  padding: 0 7px;
  padding-top: 2px;
}
.body {
  background-color: #7986cb;
}
.hero,
.detail
{
  position: relative;
  display: flex;
  align-items: center;
}
.hero {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
}
.container {
  display: flex;
  width: 600px;
  margin-left: 100px;
}
.hero .container h1 {
  padding: 20px 0;
  border-bottom: 2px solid #000;
  font-size: 40px;
  font-weight: 400;
}
.grid {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.grid a {
  color: inherit;
  text-decoration: none;
}
.grid > .object {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 15px;
  border: 1px solid #EEE;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}
.grid > .object > img {
  /* margin-bottom: 10px; */
}
.grid > .object .text {
  display: flex;
  padding: 15px;
  flex-direction: column;
}
.grid > .object a {
  display: flex;
}
.grid > .object a:hover {
  color: #42a5f5;
}
.grid > .object a:active {
  color: #1e88e5;
}
.grid > .object a span {
  margin-right: auto;
}
.grid > .object input {
  padding: 5px;
  background-color: #EEE;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: monospace;
  font-size: inherit;
}
.grid > .object input:focus {
  border-color: #000;
  background-color: #FFF;
  outline: none;
}
/* .grid > .object .name {
  border-bottom: 1px solid #EEE;
} */
.popup {
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.buttons {
  display: flex;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1;
}